
html, body {
    margin: 0;
    height: 100%;
}

body {
	margin: 0;
    height: 100%;
    background-color: white;
    display: flex;

}

.wrapper {
	margin: auto;
	width: 80%;
}

.gallery-link {
	height: 100%;
 	position: fixed;
 	top:45%;
}

line {
    stroke: #808080;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

svg:hover line {
    stroke: #000000;
 }