
html, body {
    margin: 0;
    height: 100%;
}

body {
	margin: 0;
    height: 100%;
    /*background-color: white;*/
    /*display: flex;*/
     /*position: relative;*/
}

.general-wrapper {
    height: 100%;
    display: flex;
}

.wrapper {
    display: flex;
	margin: auto;
    height: 100%;
}

.gallery-link {
    left: 0;
	height: 100%;
 	position: fixed;
 	top:45%;
}

.center-div{
    margin: auto;
    width: 80%;
}

line {
    stroke: #808080;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

svg:hover line {
    stroke: #FFFFFF;
 }