@font-face{
	font-family: "HeaderFont";
  	src: url("../fonts/als-script/alsscrp.ttf") format("truetype");
}

@font-face{
	font-family: "RegularFont";
  	src: url("../fonts/ABEAKRG.TTF") format("truetype");
}

html, body {
	background-color: #352F2F;
	background: url("../images/background.jpg");
}

.full-height {
	height: 100%;
	text-align: center;
}

.main-column {
	background-color: white;
	text-align: center;
}

.header {
	text-align: center;
	display: inline-block;
	background: url("../images/2.jpg");
	width: 40vh;
	background-size: 100% 100%;
}

.sofaa-name {
	font-size: 60px;
}

.main-navbar {
	background-color: transparent;
	border-color: transparent;
	font-size: 200%;
	font-family: "RegularFont";
	min-height: 7%;
}
	
.navbar-center {
	width: 100%;
	text-align: center;
}

.list-div {
	display: inline-block;
}

.photo-section {
	margin-top: 3%;
}


.photo-row {
	margin: 0 auto;
	margin-bottom: 1.5%;
}

.photo-div {
	margin-right: 1%;
	margin-left: 1%;
	height: 22vh;
}

#photo-1 {
	background:url("../images/MartaSanya/IMG_5420.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-2 {
	background:url("../images/Dinara/IMG_6137.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-3 {
	background:url("../images/khristya/IMG_1240.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-4 {
	background:url("../images/YarkoNastya/IMG_9312.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-5 {
	background:url("../images/khristya/IMG_1272.jpg");
	/*background-size: cover;*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-6 {
	background:url("../images/MartaSanya/IMG_5413.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-7 {
	background:url("../images/Dinara/IMG_6154.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-8 {
	background:url("../images/YarkoNastya/IMG_9641-2.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-9 {
	background:url("../images/Dinara/IMG_6154.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-10 {
	background:url("../images/YarkoNastya/IMG_9521.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-11 {
	background:url("../images/khristya/IMG_1316.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#photo-12 {
	background:url("../images/MartaSanya/IMG_5099.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
